@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
hr {
  color: white;
}
h1 {
  color: white;
  font-family: "Poppins", sans-serif;
}
p {
  color: white;
  font-family: "Poppins", sans-serif;
}
a {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: salmon;
}
.button2 {
  font-size: 20px;
  padding: 20px;
  margin: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
  border: none;
  border-radius: 50px;
  background: #212529;
  box-shadow: inset 10px 10px 20px #101113, inset -10px -10px 20px #32393f;
}
.button2:hover {
  border-radius: 50px;
  background: #212529;
  box-shadow: inset -10px -10px 20px #101113, inset 10px 10px 20px #32393f;
}

.swal-text {
  background-color: #fefae3;
  padding: 17px;
  border: 1px solid #f0e1a1;
  display: block;
  margin: 22px;
  text-align: center;
  color: #61534e;
}
.swal-overlay {
  background-color: rgba(255, 255, 255, 0.384);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #212529;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #212529;
}
